In [35]:
import pandas as pd
df_wine = pd.read_csv('./src/winemag-data-130k-v2.csv', index_col=0)
df_countries = pd.read_csv('./src/country_codes.csv')
df_wine_raw = df_wine

In [36]:
df_wine.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [37]:
df_countries.head(1)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN

In [38]:
# Dropping empty countries
print("Lenght of dataset before drop:", len(df_wine))
df_wine.dropna(subset=["country"], inplace=True)
print("Lenght of dataset after drop:", len(df_wine))

# Cleaning United States name
# df_wine['country'].replace('US', 'United States of America', inplace=True)

Lenght of dataset before drop: 129971
Lenght of dataset after drop: 129908

In [39]:
# Grouping wine points by country
pts_by_ctry = df_wine.groupby('country', as_index=False).agg({'points': 'sum'})
pts_by_ctry.head(1)

     country  points
0  Argentina  329499

In [40]:
# Cleaning iso column
df_countries['iso'] = df_countries['iso_3166-2'].str.split(pat=":", expand=True)[1]
df_countries.set_index(keys='name', inplace=True)

# # Mapping iso to country name
pts_by_ctry['iso'] = pts_by_ctry['country'].map(df_countries['iso'])

# # Reordering columns
pts_by_ctry = pts_by_ctry[['iso', 'country', 'points']]
pts_by_ctry.head(1)

  iso    country  points
0  AR  Argentina  329499

In [42]:
# Exporting dataset

pts_by_ctry.to_csv('points_by_country.csv', index=False, header=True)

In [6]:
import numpy as np
ratings = [3444695, 1921313, 745221, 171994, 93557]
stars = [5, 4, 3, 2, 1]
result = 0
for i in range(5):
    result += ratings[i]*stars[i]
result/sum(ratings)

4.325370327971171

In [7]:
import numpy as np
ratings = [3444695, 1921313, 745221, 171994, 93557]
stars = [1, 1, 0, 0, 0]
result = 0
for i in range(5):
    result += ratings[i]*stars[i]
result/sum(ratings)

0.8414917873911284