In [1]:
import pandas as pd
df_wine = pd.read_csv('./src/winemag-data-130k-v2.csv', index_col=0)
df_countries = pd.read_csv('./src/country_codes.csv')
df_wine_raw = df_wine

In [2]:
df_wine.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [3]:
df_countries.head(1)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN

In [4]:
# Dropping empty countries
print("Lenght of dataset before drop:", len(df_wine))
df_wine.dropna(subset=["country"], inplace=True)
print("Lenght of dataset after drop:", len(df_wine))

# Cleaning United States name
# df_wine['country'].replace('US', 'United States of America', inplace=True)

Lenght of dataset before drop: 129971
Lenght of dataset after drop: 129908

In [5]:
# Grouping wine points by country
pts_by_ctry = df_wine.groupby('country', as_index=False)['points'].std()
pts_by_ctry.head(1)

     country    points
0  Argentina  3.179627

In [6]:
# Cleaning iso column
df_countries['iso'] = df_countries['iso_3166-2'].str.split(pat=":", expand=True)[1]
df_countries.set_index(keys='name', inplace=True)

# # Mapping iso to country name
pts_by_ctry['iso'] = pts_by_ctry['country'].map(df_countries['iso'])

# # Reordering columns
pts_by_ctry = pts_by_ctry[['iso', 'country', 'points']]
pts_by_ctry.head(1)

  iso    country    points
0  AR  Argentina  3.179627

In [7]:
# Exporting dataset

pts_by_ctry.to_csv('points_by_country.csv', index=False, header=True)

**bookId**: Book Identifier as in goodreads.com
**title**: Book title
**series**: Series Name
**author**: Book's Author
**rating**: Global goodreads rating
**description**: Book's description
**language**: Book's language
**isbn**: Book's ISBN
**genres**: Book's genres
**characters**: Main characters
**bookFormat**: Type of binding
**edition**: Type of edition (ex. Anniversary Edition)
**pages**: Number of pages
**publisher**: Editorial
**publishDate**: publication date
**firstPublishDate**: Publication date of first edition
**awards**: List of awards
**numRatings**: Number of total ratings
**ratingsByStars**: Number of ratings by stars
**likedPercent**: Derived field, percent of ratings over 2 starts (as in GoodReads)
**setting**: Story setting
**coverImg**: URL to cover image
**bbeScore**: Score in Best Books Ever list
**bbeVotes**: Number of votes in Best Books Ever list
**price**: Book's price (extracted from Iberlibro)